In [1]:
#Importing Required Libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob
from sklearn.preprocessing import LabelEncoder
import os

In [2]:
#Reading all train(csv) data and storing in a variable

Test_dataFiles = sorted(glob('Test*.csv'))
Test_dataFiles

['Test_Claim.csv',
 'Test_Demographics.csv',
 'Test_Policy.csv',
 'Test_Vehicle.csv']

In [3]:
#Merging all the training data

for id,file in enumerate(Test_dataFiles):
    if id==0:
        df=pd.read_csv(file)
    else:
        df=pd.merge(df,pd.read_csv(file))

In [4]:
df

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleYOM,VehicleModel,VehicleID,VehicleMake
0,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,State2,500/1000,2000,1006.00,0,own-child,1995,Passat,Vehicle34362,Volkswagen
1,Cust10010,2015-01-13,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City5,Location 1383,16,...,State3,100/300,500,1279.17,0,unmarried,2006,Ultima,Vehicle17046,Nissan
2,Cust10015,2015-01-05,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 2030,20,...,State2,250/500,1000,1454.67,1235986,other-relative,2010,Impreza,Vehicle11038,Suburu
3,Cust10020,2015-01-03,Vehicle Theft,?,Trivial Damage,None,State7,City5,Location 1449,10,...,State3,500/500,2000,1287.76,5873212,wife,2009,TL,Vehicle37114,Accura
4,Cust1003,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 1916,7,...,State3,100/300,2000,1413.14,5000000,own-child,2007,RAM,Vehicle16771,Dodge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,2015-01-17,Single Vehicle Collision,Rear Collision,Total Loss,Police,State5,City4,Location 1958,10,...,State3,500/1000,673,1104.02,1959277,wife,2000,95,Vehicle19062,Saab
8908,Cust9986,2015-02-09,Single Vehicle Collision,Front Collision,Total Loss,Other,State5,City2,Location 1035,19,...,State2,250/500,574,961.46,0,husband,2000,92x,Vehicle18191,Saab
8909,Cust9990,2015-02-20,Single Vehicle Collision,Rear Collision,Minor Damage,Other,State5,City2,Location 2037,9,...,State2,100/300,1216,1560.49,0,wife,1998,Civic,Vehicle11032,BMW
8910,Cust9995,2015-02-22,Single Vehicle Collision,Side Collision,Minor Damage,Police,State8,City3,Location 2097,19,...,State2,100/300,1950,1577.48,0,wife,2002,Grand Cherokee,Vehicle30412,Jeep
8911,Cust9998,2015-01-14,Single Vehicle Collision,Front Collision,Total Loss,Other,State7,City3,Location 1024,10,...,State2,500/1000,2000,928.75,3701890,husband,2007,E400,Vehicle2349,Suburu

# Data Preprocessing

In [5]:
#Replacing with nan

nan = ['???','?','NA',-5,'MISSINGVALUE','MISSEDDATA',-1]

for na in nan:
    df = df.replace(na,np.nan)

In [6]:
#converting the Witnesses data type to numerical

le = LabelEncoder()
df['Witnesses']= le.fit_transform(df['Witnesses'])

In [7]:
#converting the AmountOfTotalClaim data type to float

df['AmountOfTotalClaim'] = df['AmountOfTotalClaim'].astype(float)

In [8]:
#Replacing the nan values with median & mode

for col in df:
    if df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].median(), inplace=True)

In [9]:
#dropping the column

df.drop(['VehicleID','InsurancePolicyNumber','CustomerLoyaltyPeriod','AmountOfInjuryClaim',
         'Country','InsurancePolicyState','PropertyDamage','PoliceReport','AmountOfPropertyClaim','AmountOfVehicleDamage',
        'IncidentTime','IncidentCity','VehicleYOM'],axis = 1, inplace = True)

# Converting Categorical into Numerical

In [10]:
le = LabelEncoder()

for col in df:
    if df[col].dtype == 'object':
        df[col]= le.fit_transform(df[col])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8912 entries, 0 to 8911
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  8912 non-null   int32
 1   DateOfIncident              8912 non-null   int32
 2   TypeOfIncident              8912 non-null   int32
 3   TypeOfCollission            8912 non-null   int32
 4   SeverityOfIncident          8912 non-null   int32
 5   AuthoritiesContacted        8912 non-null   int32
 6   IncidentState               8912 non-null   int32
 7   IncidentAddress             8912 non-null   int32
 8   NumberOfVehicles            8912 non-null   int64
 9   BodilyInjuries              8912 non-null   int64
 10  Witnesses                   8912 non-null   int32
 11  AmountOfTotalClaim          8912 non-null   float64
 12  InsuredAge                  8912 non-null   int64
 13  InsuredZipCode              8912 non-null   int64
 14  InsuredGender               8912 non-null   int32
 15  InsuredEducationLevel       8912 non-null   int32
 16  InsuredOccupation           8912 non-null   int32
 17  InsuredHobbies              8912 non-null   int32
 18  CapitalGains                8912 non-null   int64
 19  CapitalLoss                 8912 non-null   int64
 20  DateOfPolicyCoverage        8912 non-null   int32
 21  Policy_CombinedSingleLimit  8912 non-null   int32
 22  Policy_Deductible           8912 non-null   int64
 23  PolicyAnnualPremium         8912 non-null   float64
 24  UmbrellaLimit               8912 non-null   int64
 25  InsuredRelationship         8912 non-null   int32
 26  VehicleModel                8912 non-null   int32
 27  VehicleMake                 8912 non-null   int32
dtypes: float64(2), int32(18), int64(8)
memory usage: 1.4 MB

In [12]:
#Assigning the path 

#storing the test data csv in traindata folder
filepath = os.path.expanduser('~/OneDrive/Desktop/Final_Hack/TrainData/')

df.to_csv(os.path.join(filepath,'FraudReport.csv'),index = False)